<ion-content>
    <ng-template #loginPage>
        <pxb-login>
            <div pxb-login-header>
                <img src="assets/images/eaton_stacked_logo.png" style="max-width: 100%; max-height: 80px" />
            </div>
            <div pxb-login-footer style="text-align: center">
                <img src="assets/images/cybersecurity_certified.png" style="max-width: 30%; align-self: center" />
            </div>
        </pxb-login>
    </ng-template>

    <pxb-auth [loginRef]="loginPage"></pxb-auth>
</ion-content>
